<!DOCTYPE HTML>

<!-- 
                I hear hurricanes ablowing. 
                I know the end is coming soon. 
                I fear rivers overflowing. 
                I hear the voice of rage and ruin. 

                Don't go around tonight, 
                Well, it's bound to take your life, 
                There's a bad moon on the rise. 

                (c) this is "Creedence Clearwater Revival", dude.
-->

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="The, World, Ends, Soon, Apocalypse, Cookies!" />
  <meta name="description" content="We've got no time to explain, really..." />
  <link rel="stylesheet" href="/static/css/styles.css?r=2" type="text/css" media="screen" charset="utf-8">
  <!-- Even if only simple apocalypse counter is needed, can't live without jQuery anyway -->
  <script type='text/javascript' charset='utf-8' src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
  {%- for script in scripts %}
  <script type='text/javascript' charset='utf-8' src='{{ script }}'></script>
  {% endfor %}

  <title>{% block title %}The End Of The World is coming! The countdown to apocalypse{% endblock %}</title>
</head>

<body>
  <div id='wrapper'>
    <!-- google analytics -->
    {% block google_analytics %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35027262-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endblock %}
    <!-- google analytics end -->

    {% block content %}
    {% endblock %}

  </div> <!-- wrapper -->

  {% block footer %}
  <div class='footer'>
  {% block social %}
  <div class='social-buttons-wrapper'>
    {% include "social/twitter.html" %}
    {% include "social/github.html" %}
  </div>
  {% endblock %}
  </div> <!-- /footer -->
  {% endblock %}
</body>
</html>
