<tr class='timer'>
  <td class='timer-days'></td>
  <td class='timer-bigsep'></td>
  <td class='timer-hours'></td>
  <td class='timer-sep'>:</td>
  <td class='timer-minutes'></td>
  <td class='timer-sep'>:</td>
  <td class='timer-seconds'></td>
</tr>
<tr class='timer-titles'>
  <td class='timer-title'>Days</td>
  <td></td> <!-- bigsep -->
  <td class='timer-title'>Hours</td>
  <td></td> <!-- sep -->
  <td class='timer-title'>Minutes</td>
  <td></td> <!-- sep -->
  <td class='timer-title'>Seconds</td>
</tr>
